.movieCard {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
}
.movieCard:hover {
  opacity: 0.8;
}
.movieCard .titulo:hover {
  color: #e60073;
}
.movieImage {
  border-radius: 10px;
  background-color: azure;
}
.titulo:hover {
  color: #e60073;
}
@media (max-width: 560px) {
  .movieImage {
    width: 90%;
    height: auto;
  }
}
