.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 48%);
  justify-content: center;
  gap: 20px;
  padding: 6px;
}
.dataContainer {
}
.linkContainer {
  display: flex;
  align-items: baseline;
  gap: 5px;
  min-width: max-content;
}
.linkEliminar {
  color: white;
  background-color: #e60073;
}
.linkEliminar:hover {
  color: white;
  background-color: black;
}
