.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.col {
  max-width: 400px;
  margin: 15px;
}

.movieImage {
  border-radius: 15px;
}

.movieDetails {
  font-size: 1.5rem;
}

.firstItem {
  margin: 0;
}
.menuTitle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.menuTitle > div {
  flex: 1;
}
