.container {
  color: white;
}
.dots {
  cursor: pointer;
  margin: 0;
  color: #e60073;
  transform: rotate(90deg);
}
.dots:hover {
  color: white;
}
.contentDots {
  display: flex;
  justify-content: flex-end;
}
.contentList {
  background: #e60073;
  border: white solid 2px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.list {
  padding: 10px;
  list-style: none;
  cursor: pointer;
}
.list:hover {
  opacity: 0.4;
}
